@media(max-width:768px) {
    div.type-wrap {
        font-size: 20px;
    }

    .navbar-expand-md .navbar-nav {
        margin-left: 0;
        text-align: center;
        background-color: #000000;

    }

    .navbar-brand {
        padding: 10px;

    }

    .navbar-nav {
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .navbar .toggle {
        display: block;
    }

    .about i {
        font-size: 50px;
        padding: 10px
    }

    .owl-carousel .owl-item img {
        width: 100%;
    }

    .single-promo {
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer img {
        width: 80%;
    }

    .footer i {
        padding: 12px;
    }
}