@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

html,
body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

hr {
    border: 1px solid #000000;
    width: 20%;
}

/* Loader Screen  */
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(Preloader.gif) center no-repeat #fff;
}

/* Loader Screen Ends  */

/* Navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: transparent;
    transition-duration: 0.5s;

    .navbar-brand {
        padding-left: 0px;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .toggle {
        display: none;
    }

    .navbar-nav {

        .nav-link {
            transition-duration: 0.5s;
            border-radius: 10px;
            padding: 15px;
        }

        .nav-link:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }
}

/* Navigation bar ends */
/* Title Starts  */
.parallax {
    background-color: #000000;
    background-image: url(../img/page1.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .owl-carousel .owl-item img {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .type-wrap {
        font-size: 50px;

        #typed {
            white-space: pre;
        }
    }
}

/* Title Ends */
/* About Starts  */
.about {
    h2 {
        margin-top: 50px;
        color: #000000;
        text-align: center;
        font-size: 40px;
    }

    i {
        font-size: 100px;
        padding: 10px;
    }

    p {
        font-weight: 900;
    }

    .single-promo {
        margin: 10%;
        border: 1px solid #333333;
        font-size: 25px;
        font-weight: 200;
        padding: 20px 10px;
        text-align: center;
        background-color: #333333;
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 10px 90px #666;
        transition-duration: 0.5s;
    }

    .single-promo:hover {
        background-color: #000000;
    }
}

/* About Ends  */
/* My skills start  */
.skills {
    text-align: center;

    h2 {
        margin-top: 50px;
        color: #000000;
    }

    p {
        color: #666666;
        font-size: 50px;
    }

    img {
        width: 100px;
        height: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }
}



/* My skills ends  */
/* My Certifications  */
.certifications {
    color: #000000;
    text-align: center;

    h2 {
        margin-top: 50px;
    }

    img {
        height: 254px;
        padding: 10px;
    }
}

/* My Certifications Ends  */
/* Footer  */
.footer {
    background-color: #000000;
    background-image: url(../img/page1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    i {
        padding: 20px;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
    }

    .soc {
        display: inline-block;
        margin: 4px;
    }

    .footer i:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3b5998;
        color: white;
    }

    .fa-twitter {
        background: #55acee;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-instagram {
        background: #9c2dbb;
        color: white;
    }

    .fa-github {
        background: #212529;
        color: white;
    }


}

.copyright {
    text-align: center;
    background-color: #000000;
    padding: 10px;
}

/* Footer Ends  */

/* Contact Starts */
.contact {
    padding: 50px 20px;
    color: #333333;
    background-color: #FAFAFA;

    button {
        width: 100%;
        background-color: #333333;
        color: #fff;
    }

    button:hover {
        color: #fff;
        background-color: #444444;
    }
}

/* Contact Ends */